person_1177/schemas/interactions/LinkPersonIdentityInteraction/LinkPersonIdentityResponder_4.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->    
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
    xmlns:tns='urn:riv:strategicresourcemanagement:persons:person:LinkPersonIdentityResponder:4'                
    xmlns:strategicresourcemanagementpersonsperson='urn:riv:strategicresourcemanagement:persons:person:5'
    targetNamespace='urn:riv:strategicresourcemanagement:persons:person:LinkPersonIdentityResponder:4'
    elementFormDefault='qualified'
    attributeFormDefault='unqualified'
    version='4.0'>

    <xs:import schemaLocation='../../core_components/strategicresourcemanagement_persons_person_5.0.xsd' namespace='urn:riv:strategicresourcemanagement:persons:person:5' />


    <xs:element name='LinkPersonIdentity' type='tns:LinkPersonIdentityType'/>

    <xs:complexType name='LinkPersonIdentityType'>
        <xs:annotation>
            <xs:documentation>
                Tjänst för att koppla en persons identitet till dess huvudidentitet. T.ex en reservidentitet (LRID/NRID) till ett personnummer. Dvs kunna ange att en person som har 2 identiteter är densamma person. Genom denna koppling kan t.ex NPÖ för en person som är journalförd på 2 olika identiteter, t.ex en reservidentitet och sitt ordinarie personnummer, visa upp journalerna för bägge identiteterna.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="actor" type="strategicresourcemanagementpersonsperson:ActorType"/>
            <xs:element name="fromIdentity" type="strategicresourcemanagementpersonsperson:IIType"/>
            <xs:element name="toIdentity" type="strategicresourcemanagementpersonsperson:IIType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name='LinkPersonIdentityResponse' type='tns:LinkPersonIdentityResponseType'/>

    <xs:complexType name='LinkPersonIdentityResponseType'>
        <xs:annotation>
            <xs:documentation>
                Tjänst för att koppla en persons identitet till dess huvudidentitet. T.ex en reservidentitet (LRID/NRID) till ett personnummer. Dvs kunna ange att en person som har 2 identiteter är densamma person. Genom denna koppling kan t.ex NPÖ för en person som är journalförd på 2 olika identiteter, t.ex en reservidentitet och sitt ordinarie personnummer, visa upp journalerna för bägge identiteterna.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="strategicresourcemanagementpersonsperson:ResultType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
