person_1177/schemas/interactions/GetPersonContactInformationInteraction/GetPersonContactInformationResponder_4.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->    
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
    xmlns:tns='urn:riv:strategicresourcemanagement:persons:person:GetPersonContactInformationResponder:4'                
    xmlns:strategicresourcemanagementpersonsperson='urn:riv:strategicresourcemanagement:persons:person:5'
    targetNamespace='urn:riv:strategicresourcemanagement:persons:person:GetPersonContactInformationResponder:4'
    elementFormDefault='qualified'
    attributeFormDefault='unqualified'
    version='4.0'>

    <xs:import schemaLocation='../../core_components/strategicresourcemanagement_persons_person_5.0.xsd' namespace='urn:riv:strategicresourcemanagement:persons:person:5' />


    <xs:element name='GetPersonContactInformation' type='tns:GetPersonContactInformationType'/>

    <xs:complexType name='GetPersonContactInformationType'>
        <xs:annotation>
            <xs:documentation>
                Tjänst för att hämta information om kontaktinformation till personen. Antingen via någon tjänst med vilken personen själv har matat in uppgifterna (t.ex via 1177) eller av t.ex en vårdaktör via vårdaktörens tjänst efter uppgivande av personen. Kontaktuppgifterna består dels av vilka kontaktvägar (telefon, mail etc) som personen själv i fråga kan nås på. Dels av kontaktpersoner och dess kontaktuppgifter som personen uppger. Kontaktpersoner kan t.ex vara anhöriga som vårdens aktörer kan ha behov av att kontakta kring personens vård.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="personId" type="strategicresourcemanagementpersonsperson:IIType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name='GetPersonContactInformationResponse' type='tns:GetPersonContactInformationResponseType'/>

    <xs:complexType name='GetPersonContactInformationResponseType'>
        <xs:annotation>
            <xs:documentation>
                Tjänst för att hämta information om kontaktinformation till personen. Antingen via någon tjänst med vilken personen själv har matat in uppgifterna (t.ex via 1177) eller av t.ex en vårdaktör via vårdaktörens tjänst efter uppgivande av personen. Kontaktuppgifterna består dels av vilka kontaktvägar (telefon, mail etc) som personen själv i fråga kan nås på. Dels av kontaktpersoner och dess kontaktuppgifter som personen uppger. Kontaktpersoner kan t.ex vara anhöriga som vårdens aktörer kan ha behov av att kontakta kring personens vård.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="contactInformationRecord" type="strategicresourcemanagementpersonsperson:ContactInformationRecordType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>