person_1177/schemas/interactions/GetFilesForOrderIdInteraction/GetFilesForOrderIdResponder_4.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->    
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
    xmlns:tns='urn:riv:strategicresourcemanagement:persons:person:GetFilesForOrderIdResponder:4'
    targetNamespace='urn:riv:strategicresourcemanagement:persons:person:GetFilesForOrderIdResponder:4'
    elementFormDefault='qualified'
    attributeFormDefault='unqualified'
    version='4.0'>


    <xs:element name='GetFilesForOrderId' type='tns:GetFilesForOrderIdType'/>

    <xs:complexType name='GetFilesForOrderIdType'>
        <xs:annotation>
            <xs:documentation>
                Tjänst för få en adress (URL) utifrån ett givet OrderId, där man kan hämta begärda data. Tillexempel personposter utifrån en tidigare begärd sökning med tjänsten SearchPersonsForProfileByOrder eller förändrade personposter.
                Producenten har att säkerställa att anropande tjänstekonsument har rättighet till det efterfrågade order id&amp;apos;t.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="orderId" type="tns:OrderId"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name='GetFilesForOrderIdResponse' type='tns:GetFilesForOrderIdResponseType'/>

    <xs:complexType name='GetFilesForOrderIdResponseType'>
        <xs:annotation>
            <xs:documentation>
                Tjänst för få en adress (URL) utifrån ett givet OrderId, där man kan hämta begärda data. Tillexempel personposter utifrån en tidigare begärd sökning med tjänsten SearchPersonsForProfileByOrder eller förändrade personposter.
                Producenten har att säkerställa att anropande tjänstekonsument har rättighet till det efterfrågade order id&amp;apos;t.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="multimedia" type="tns:MultimediaType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
 
    
    <xs:simpleType name="OrderId">
        <xs:annotation>
            <xs:documentation>
                OrderId med begränsad längd
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>
 
     
    <xs:complexType name="MultimediaType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som beskriver en multimediatyp.
                Data kan förekomma som inbäddat element eller hänvisas via en referens URL.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="mediaType" type="tns:CodedValue"/>
            <xs:element name="value" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="reference" type="xs:anyURI" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    
    <xs:simpleType name="CodedValue">
        <xs:annotation>
            <xs:documentation>
                Kodverk
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
