person_1177/schemas/interactions/SearchPersonsForProfileByOrderInteraction/SearchPersonsForProfileByOrderResponder_5.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->    
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
 xmlns:tns='urn:riv:strategicresourcemanagement:persons:person:SearchPersonsForProfileByOrderResponder:5'                
    xmlns:strategicresourcemanagementpersonsperson='urn:riv:strategicresourcemanagement:persons:person:5'
    targetNamespace='urn:riv:strategicresourcemanagement:persons:person:SearchPersonsForProfileByOrderResponder:5'
    elementFormDefault='qualified'
    attributeFormDefault='unqualified'
    version='5.0'>

    <xs:import schemaLocation='../../core_components/strategicresourcemanagement_persons_person_5.0.xsd' namespace='urn:riv:strategicresourcemanagement:persons:person:5' />


    <xs:element name='SearchPersonsForProfileByOrder' type='tns:SearchPersonsForProfileByOrderType'/>

    <xs:complexType name='SearchPersonsForProfileByOrderType'>
        <xs:annotation>
            <xs:documentation>
                Tjänst för att asynkront söka uppgifter för 0..* personidentiteter utifrån sökparametrar definierad enligt en bestämd syntax. 
                Denna tjänst tillskillnad från SearchPersonsForProfile returnerar endast ett orderId som sedan ska användas tillsammans med tjänsten GetFilesForOrderId för att få tillgång till resultatet av sökningen. Se sekvensschemat i kapitel 3.1.9.
                Ett typiskt användningsfallet för denna tjänst är när man önskar få ut ett större antal personuppgifter baserat på sökparametrarna. T.ex för en screeningverksamhet (ex screening av bröstcancer) att kunna ta ut en population personer baserat på ålder, kön och län för att kalla dem till undersökning.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="query" type="xs:string"/>
            <xs:element name="queryLanguage" type="xs:string"/>
            <xs:element name="profile" type="strategicresourcemanagementpersonsperson:LookupProfileType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name='SearchPersonsForProfileByOrderResponse' type='tns:SearchPersonsForProfileByOrderResponseType'/>

    <xs:complexType name='SearchPersonsForProfileByOrderResponseType'>
        <xs:annotation>
            <xs:documentation>
                Tjänst för att asynkront söka uppgifter för 0..* personidentiteter utifrån sökparametrar definierad enligt en bestämd syntax. 
                Denna tjänst tillskillnad från SearchPersonsForProfile returnerar endast ett orderId som sedan ska användas tillsammans med tjänsten GetFilesForOrderId för att få tillgång till resultatet av sökningen. Se sekvensschemat i kapitel 3.1.9.
                Ett typiskt användningsfallet för denna tjänst är när man önskar få ut ett större antal personuppgifter baserat på sökparametrarna. T.ex för en screeningverksamhet (ex screening av bröstcancer) att kunna ta ut en population personer baserat på ålder, kön och län för att kalla dem till undersökning.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="orderId" type="strategicresourcemanagementpersonsperson:OrderId" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
